
.wrapper {
  width: 1500px;
  height: 800px;
  display: grid;
  grid-template-columns: 350px 350px 350px 350px;
  grid-template-rows: 180px 180px 180px 180px;
  grid-gap: 10px;
  background-color: #ece9e6;
}

.dashboard {
  align-content: center;
  justify-content: center;
}

.generation {
  grid-column: 1 / 4;
  grid-row: 1 / 3;
}

.price {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
}

.pie {
  grid-column: 4 / 6;
  grid-row: 3 / 6;
}

.temperature {
  grid-column: 1 / 4;
  grid-row: 4 / 6;
}

.legend {
  grid-column: 4 / 6;
  grid-row: 1 / 3; 
}

.wrapper div {
  padding: 10px;
  background-color: white;
  border-radius: 5px;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font: 1em/1.4 Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #ece9e6;
  color: #333;
  margin:0;
}

.cont {

  margin: 25 auto;
  margin-left: 50;
}

.code {
  background-color: #ece9e6;
  padding-left: 20px;
}

.chart {
    min-width: 320px;
    max-width: 800px;
    height: 220px;
    margin: 0 auto;
}
